<div class="container">
  <div class=" tablecss">
    <div>
      <div style="text-align: center; margin-top: 20px; margin-bottom: 20px;">
        <h4 style="text-align: center; color: white;">{{state}} corona updates</h4>
      </div>
    </div>

  <div  style="background-color: white;">
    <div class="row"   style="background-color: white;">
      <ngx-charts-bar-vertical
      [view]="view"
      [scheme]="colorScheme"
      [results]="single"
      [gradient]="gradient"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legend]="showLegend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel">
      </ngx-charts-bar-vertical>
  </div>
  </div>
  </div>


</div>
