

<div  style="background-color: black;">
  <div style="background-color: rgb(23, 219, 226);height: 50px;"><h2 style="text-align: center;">India covid-19 updates</h2></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
            {{drawGraph(india)}}
            <google-chart [data]="lineChart"></google-chart>
      </div>
      <div class="col-sm-2"></div>
    </div>
  </div>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8 tablecss">
      <div>
        <h2 style="text-align: center;">
          <u>Statewise Covid-19 Updates</u>
        </h2>
      </div>
      <p style="text-align: center;">Click on State name to see Districtwise data</p>
      <div>
      <table class="table table-striped tablecss">
        <tr class="total">
          <th (click) = "sortbyStatename()" class="state"><i class="fa fa-sort" aria-hidden="true"></i>State</th>
          <th (click) = "sortbyConfirmedcases()" class="confirmed"><i class="fa fa-sort" aria-hidden="true"></i>Confirmed</th>
          <th (click) = "sortbyActivecases()" class="active" style="color :white"><i class="fa fa-sort" aria-hidden="true"></i>Active</th>
          <th (click) = "sortbyRecoveredcases()" class="recovered" style="color:white"><i class="fa fa-sort" aria-hidden="true"></i>Recovered</th>
          <th (click) = "sortbyDeseasedcases()" class="deseased" style="color :white"><i class="fa fa-sort" aria-hidden="true"></i>Deaths</th>
          <th></th>
        </tr>
          <tr *ngFor="let state of Statedata">
            <td class="myDIV" (click) = "showDistrictWise(state.state)">
              <u><a href="#C4" style="color: white;">{{state.state}}</a></u>
          </td>
            <td>{{state.confirmed}}</td>
            <td>{{state.active}}</td>
            <td>{{state.recovered}}</td>
            <td>{{state.deaths}}</td>
            <td>
              <button (click) = "drawGraphforState(state)" class="btn btn-primary">show chart</button>
            </td>
          </tr>
          <tr class="total">
            <td>{{india.state}}</td>
            <td>{{india.confirmed}}</td>
            <td>{{india.active}}</td>
            <td>{{india.recovered}}</td>
            <td>{{india.deaths}}</td>
            <td></td>
          </tr>
      </table>
      </div>
    </div>
    <div class="col-sm-4 tablecss2"><router-outlet></router-outlet></div>
  </div>
</div>


  <!-- <h1>*************************************************************************************</h1> -->
<div id = "C4">
  <div>
    <div *ngIf="showdistrictwise" class="tablecss">
      <h2 style="text-align: center;"><u>Districtwise Covid-19 Updates of {{statename}}</u></h2>
      <p style="text-align: center;">Click on District name to see Graphical view</p>
    </div>
  <div *ngFor="let state of Object.keys(finalData)">
    <!-- <p>{{state}}</p> -->
    <div *ngIf = "state == statename">
        <!-- {{JSON.stringify(finalData[state][data])}} -->
          <!-- <p>{{dist}}</p><br>
          <p>{{finalData[state][data][dist].confirmed}}</p> -->
          <div class="container">
            <div class="row">
              <div class="col-sm-6">
                <table  class="table table-striped tablecss">
                  <thead>
                    <tr>
                      <th>District</th>
                      <th>Confirmed</th>
                      <th style="color :rgb(248, 82, 4)">Active</th>
                      <th style="color:green">Recovered</th>
                      <th style="color :red">Deaths</th>
                      <!-- {{firstrow()}} -->
                    </tr>
                  </thead>
                        <tbody *ngFor = "let data of Object.keys(finalData[state])">
                          <tr *ngFor="let dist of Object.keys(finalData[state][data])" >
                            <td *ngIf="dist != '0' && dist != '1' && dist != 'Unknown' && dist != 'Other State'" class="myDIV" (click) = 'drawGraphforDistrict(finalData[state][data][dist],dist)'>{{dist}}</td>
                            <td *ngIf="dist != '0' && dist != '1' && dist != 'Unknown' && dist != 'Other State'">{{finalData[state][data][dist].confirmed}}</td>
                            <td *ngIf="dist != '0' && dist != '1' && dist != 'Unknown' && dist != 'Other State'" style="color :rgb(248, 82, 4)">{{finalData[state][data][dist].active}}</td>
                            <td *ngIf="dist != '0' && dist != '1' && dist != 'Unknown' && dist != 'Other State'" style="color:green">{{finalData[state][data][dist].recovered}}</td>
                            <td *ngIf="dist != '0' && dist != '1' && dist != 'Unknown' && dist != 'Other State'" style="color :red">{{finalData[state][data][dist].deceased}}</td>
                          </tr>
                        </tbody>
                </table>
              </div>
              <div class="col-sm-6">
                <!-- <ng-container *ngIf="showgraph">
                  <span>
                    <google-chart [data]="pieChartforDistrict"></google-chart>
                  </span>
                </ng-container> -->

                <router-outlet></router-outlet>


              </div>
            </div>

          </div>


        </div>
  </div>
  </div>
</div>
</div>



